#bg1 {
  width: 97%;
  height: 630px;
  background-image: url("../Images/BGimage.png");
  background-position: center;
  background-size: cover;
}
#c1{
  display: flex;
}
#bg2 {
    margin: auto;
  background-image: url("../Images/BGimage2.png");
  height: 40vh;
  width: 99.99%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#spacer{
  background-color:#FFDD33 ;
  /* background-color: red ; */
  
}